.list-item{
    background-color: #eef3f32b;
    width: 18em;
    height: 12em;
    border-radius: 1em;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    transition: 0.1s linear;
    display: flex;
    flex-direction: column;
}

.list-item:hover{
    transform: scale(1.1);
    z-index: 10;
}

.Language{
    color:aquamarine;
    border-color: aquamarine;
}

.Lifestyle{
    color:lightcyan;
    border-color: lightcyan;
}

.Academy {
    color:lightpink;
    border-color:lightpink
}

.Finance {
    color: lightsteelblue;
    border-color: lightgray;
}

.Software {
    color: lightgoldenrodyellow;
    border-color: lightgoldenrodyellow;
}

.Health {
    color: rgb(210, 158, 244);
    border-color: rgb(210, 158, 244);
}

.Art {
    color: rgb(163, 224, 233);
    border-color: rgb(163, 224, 233);
}

.Development {
    color: rgb(239, 223, 102);
    border-color: rgb(239, 223, 102);
}

.list-item-dashboard{
    background-color: grey;
    width: 18em;
    height: 12em;
    border-radius: 1em;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    transition: 0.1s linear;
    display: flex;
    flex-direction: column;
}