.course-background{
    background-color: white;
    min-height: 300px;
    border: 10px white solid;
    border-radius: 1em;
    margin-bottom: 30px;
    margin-top:30px
}

.lesson-material{
    background-color: white;
    min-height: 500px;
    border-radius: 1em;
    border: 10px white solid
}

.quill-container .ql-editor{
    min-height: 300px;
}

.course-button {
    border-color: #98bf64;
    color: #98bf64;
}

.course-button:hover {
    background-color: #98bf64;
    border-color: #98bf64;
}

.save-button {
    background-color: #98bf64;
    margin-left: 10px;
    border: #98bf64 1px solid;
    border-radius: 1em;
}

.dashboard-outline {
    background-color: #353535;
    min-height: 80vh;
    border: '1px solid yellow'
}


.collection-card {
    height:auto;
    border:1px solid #98bf64;
    color: #98bf64;
    padding: 10px;
}

@media (max-width: 768px) {
    .collection-card {
      width: 90%; /* Width for smaller screens */
      max-width: 350px; /* Maximum width for smaller screens */
    }
  }

.collection-card:hover{
    transform: scale(1.1);
    z-index: 10;
}

.grid-container{
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}

.grid-column{
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

.grid-column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }

.dash-nav:hover{
    border-color: #98bf64;
    background-color: #98bf64;
    color:white;
}